.sidebar
  .sidebar__header
    %p.sidebar__header__name aoki
    %ul.sidebar__header__icon
      %li.sidebar__header__icon__edit
        = link_to "#" do
          = fa_icon"edit"
      %li.sidebar__header__icon__cog
        = link_to "#" do
          = fa_icon"cog"
  .sidebar__content
    = render partial: "groups"
.content
  .content__header
    .content__header__name
      sampleグループ
      %p.content__header__member
        aoki,sato
    .content__header__edit
      = link_to'Edit'
  .content__main
    =render partial: "messages"
  .content__bottom
    %form.message-form
      %input#message-box{name: "name",type: "textarea",placeholder:"type a message",row:"3",cols:"20"}
      %label.upload-label{for: "upload-icon"}
        %i.fa.fa-picture-o
        %input#upload-icon{name: "image",type:"file",accept:"image/jpeg, image/gif, image/png",style:"display:none"}
      %input#submit{type: "button",name: "submit",value: "Send"}
